LINE_CHANNEL_SECRET=your_line_channel_secret_here
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
EASYSLIP_API_KEY=your_easyslip_api_key_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
TARGET_BANK_ACCOUNT=your_target_bank_account
TARGET_BANK_NAME=your_target_bank_name
TARGET_ACCOUNT_NAME=your_target_account_name
WELCOME_AMOUNT=your_welcome_amount
